[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptacular = "*"
marshmallow = "*"
sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
pyramid-restful-framework = "*"
"psycopg2-binary" = "*"
pyramid-jwt = "*"

[dev-packages]

[requires]
python_version = "3.7"
