[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptacular = "*"
marshmallow = "*"
sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
pyramid-restful-framework = "*"
"psycopg2-binary" = "*"
pyramid-jwt = "*"
nltk = "*"
numpy = "*"
dasa = {editable = true, path = ".", extras = ["testing"]}
pandas = "*"
matplotlib = "*"
bokeh = "*"

[dev-packages]

[requires]
python_version = "3.7"
